html, body {
    height: 100%;
}

.container {
    padding-top: 100px;
    
}

.bgimg {
    background-image: url(../images/concert_crowd1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    /* position: relative; */
    background-attachment: fixed;
    /* opacity: 0.1; */
}

#logo {
    border: 5px solid #F26419;
    
}

form {
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 50px;
}

label {
    color: white;
    text-shadow: 3px 2px black;
    font-weight: bold;
    font-size: 30px;
}

.form-group {
    padding-left: 80px;
}

.btn {
    background-color: #F26419;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

#lastFMData, #ticketmasterData {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
}


#bio {
    padding: 20px;
    font-style: italic;
    text-indent: 40px;
}

#tags {
    background-color: #a8e4df;
    padding: 6px;
    border-radius: 5px;
    font-size: 15px;
}

#tracks {
    font-weight: bold;
}

#artistImage {
    float: left;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 10px;
    border: 5px solid #F26419;
}

.title {
    font-weight: bold;
    text-shadow: 2px 2px #a8e4df;
    padding-top: 40px;
    padding-left: 5px;
}

#date {
    font-size: 20px;
    padding-left: 10px;
}

